#on: [push, pull_request]
on:
  push:
    branches: ['build-test']
name: Build
jobs:
  build-push:
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        go-version: [1.16.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build code
      run: make istio-echo
    - name: Build push docker image
      uses: docker/build-push-action@v1
      with:
        context: ./_output/istio-echo/Dockerfile.app
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: docker.pkg.github.com
        repository: ${{ github.repository }}
        tag_with_sha: true
        tag_with_ref: true